<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.playground">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".viewinvisiable.InVisiableViewClickActivity"></activity>
        <activity android:name=".dialogtest.DialogCoverActivity" />
        <activity android:name=".activityfindviewbyid.FindViewByIdActivity" />
        <activity android:name=".permissionrequesttest.PermissionRequestTestActivity" />
        <activity android:name=".dialogtest.DialogTestActivity" />
        <activity android:name=".tigermachine.effect2.Effect2Activity" />
        <activity android:name=".tigermachine.TigerMachineActivity" />
        <activity android:name=".tigermachine.effect1.Effect1Activity" />
        <activity android:name=".strokenanimation.StrokeTestActivity" />
        <activity android:name=".exchangeCard.ExchangeCardActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>